table, td, th{
      width:16.6%;
      word-break: break-all;
      border: 0.5px solid rgb(24, 44, 138);
      text-align: left;
     }
                  
.buy_btn {
        background-color:rgb(65, 209, 65);
        border-radius: 5px;
        width: 75px;
        
    }
    .sell_btn {
        background-color:rgb(231, 51, 19);
        border-radius: 5px;
        width: 75px;
    }
.logo {
    
    margin-left: 330px;
    position: absolute; /*  brings image over top of text  */
    width:200px;
    height:180px;
}
#heading{
    text-align: center;
    padding-top: 35px;
    color:rgba(3, 51, 124, 0.753);

}





   
